#firstBlock {
  height: 50px;
  border: 5px solid black;
  padding: 15px 0 0 15px;
}

#cross {
  position: relative;
  color: red;
  cursor: pointer;
  /* display: block; */
}

#firstScrn {
  position: absolute;
  top: 7px;
  left: 55px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
}

#block {
  top: 0;
  position: absolute;
}

#secondBlock {
  height: 250px;
  border: 5px solid black;
  margin: 15px 0;
}


ul li {
  font-size: 18px;
  font-weight: bold;
  list-style: none;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.thirdBlock {
  height: 60px;
  border: 5px solid black;
  width: 100%;
  margin-right: 10px;
}
input[type="text"] {
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 24px;
}

.forthBlock {
  height: 60px;
  border: 5px solid black;
  width: 50%;
  margin-left: 10px;
  cursor: pointer;
  font-size: 34px;
  display: block;
}
